body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(to right, #fffacd, #dcccfd);
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

#navbar {
  text-align: center;
  text-decoration: wavy;
  color: #6341a9;
  text-shadow: 0.1em 0.12em #fff59d;
  font-size: 3em;
}

#landing-text {
  padding: 20vw;
  color: darkblue;
  text-align: center;
}
